<div>
  <ul class = "list-group posts" >
    <li *ngFor = "let post of posts" 
    [class.active]= "currentPost == post" 
    (click) = "select(post)"
    class = "list-group-item" >
      <jce-post [post] = "post"></jce-post>
    </li>
  </ul>
</div>